.Post-main{
    background-color: white;
    border-radius: 7px;
}

.Post-container{
    margin: auto;
    width: 95%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Post-container hr{
    opacity: .5;
}

.Post-container > *{
    margin-bottom: 20px;
}

.Post-author-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.Post-image-author-title-container{
    display: flex;
}